 *{
		margin: 0px;
		padding: 0px;
	}
	.container {
	    position: absolute;
	    bottom: 0;
	    background: url(../img/oceania/bg.png);
	    width: 100%;
	    height: 100%;
	    background-size:cover;
	}
	.earthpage{
		position:absolute ;
		bottom: 0;
		background: url(../img/earth/earthbg.png);
		height: 100%;
		width: 100%;
		background-size:cover;
	}
	.earth-box{
		height: 300px;
		width: 300px;
		position: absolute;
		left: 45%;
		top: 35%;
	}
	.oceaniapage{
		position:absolute ;
		bottom: 0;
		background: url(../img/oceania/oceaniabg.png);
		height: 100%;
		width: 100%;
		background-size:cover;
		display: none;
	}
	.asia-box{
		position:absolute ;
		bottom: 0;
		background: url(../img/oceania/checked_s.png);
		height: 100%;
		width: 100%;
		background-size:cover;
		display: none;
	}
	.asia-fix{
		width: 166px;
		height: 166px;
		position: absolute;
		right: 22%;
		top: 22%;
	}
	.businesspage{
		position:absolute ;
		bottom: 0;
		background: url(../img/business/thirdpage.png);
		height: 100%;
		width: 100%;
		background-size:cover;
		display: none;
	}
	.selectbusiness{
		position:absolute ;
		bottom: 0;
		background: url(../img/business/fourpage.png);
		height: 100%;
		width: 100%;
		background-size:cover;
		display: none;
	}